@font-face {
  font-family: "FMBindumathi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://cdn.rmulive.com/fonts/FMBindumathi/fmbindumathi.woff2) format("woff2");
}
